.button {
  padding: 1rem 2rem;
  border-radius: 2.2rem;
  background-color: #276aa5;
  color: #000;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #328ddd;
}
