.carbonContainer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  background: black;
  color: white;
}

.carbon-wrapper {
}
