.carbonWrap {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1400px;
  max-width: 97%;
  margin: 0 auto 1.6rem;
}

.usageContainer button {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 480px) {
  .carbonWrap {
    display: none;
  }
}
