.intensityContainer,
.usageContainer {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  display: flex;
  justify-content: space-between;
}

.intensityContainer {
  left: 1.6rem;
  right: revert;
  display: block;
}
