.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 668;
  display: block;
  padding: 1.6rem 5% 0;
  justify-content: space-between;
  align-items: flex-start;
}

.nav {
  display: flex;
  min-width: 100%;
  padding-top: 0;
  flex-direction: row;
  justify-content: center;
}

.nav a {
  margin-right: 1rem;
}

.nav a:last-of-type {
  margin-right: 0;
}
