.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 668;
  display: block;
  padding: 1.6rem 5% 0;
  justify-content: space-between;
  align-items: flex-start;
}

.nav {
  display: flex;
  min-width: 100%;
  padding-top: 0;
  flex-direction: row;
  justify-content: center;
}

.nav a {
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 2.2rem;
  background-color: #a64621;
  opacity: 0.7;
  color: #000;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 0.8s ease-in-out;
}

.nav a:last-of-type {
  margin-right: 0;
}

.nav a:hover {
  opacity: 1;
}
