.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.heroWrap h1 {
  font-size: 12rem;
  margin-bottom: 2rem;
}

.heroWrap {
  width: 110rem;
  max-width: 90%;
}

.heroButtonWrap button:first-of-type {
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .heroWrap h1 {
    font-size: 10vw;
  }
}

@media (max-width: 480px) {
  .heroButtonWrap {
    display: block;
  }

  .heroButtonWrap a {
    display: block;
    margin-bottom: 1rem;
  }

  .heroButtonWrap button:first-of-type {
    margin-right: 0;
  }
}
