.switch {
  position: relative;
  display: inline-block;
  margin: 0;
}

.switch > span {
  position: absolute;
  top: 0.8rem;
  pointer-events: none;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

.switch > span.switchOn {
  left: 0;
  color: #000000;
}

.switch > span.switchOff {
  right: 0;
  color: #000000;
}

.checkToggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.checkToggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.checkToggleRoundFlat + label {
  width: 8.8rem;
  height: 4.4rem;
  background: rgba(35, 98, 153, 0.6);
  border-radius: 60px;
}
input.checkToggleRoundFlat + label:before,
input.checkToggleRoundFlat + label:after {
  display: block;
  position: absolute;
  content: '';
}

input.checkToggleRoundFlat + label:before {
  background: rgba(35, 98, 153, 0.6);
  border-radius: 60px;
}

input.checkToggleRoundFlat + label:after {
  width: 4.4rem;
  height: 4.4rem;
  background-color: #328ddd;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.checkToggleRoundFlat:checked + label {
}

input.checkToggleRoundFlat:checked + label:after {
  margin-left: 44px;
}
