.languageToggle {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 8.8rem;
  height: 4.4rem;
  border-radius: 60px;
  transition: none;
  cursor: pointer;
  z-index: 1000;
}

.languageToggle:hover,
.languageToggle.hover,
a.active .languageToggle {
  background-color: rgba(35, 98, 153, 0.6);
}

.english,
.japanese {
  position: absolute;
  top: 0.7rem;
}

.english {
  left: 0.8rem;
}

.japanese {
  right: 1rem;
}

.switchOn,
.switchOff {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1 !important;
  height: 4.4rem !important;
  width: 4.4rem !important;
  background-color: #328ddd !important;
  transition: transform 0.2s ease-in;
  border-radius: 50% !important;
}

.switchOn {
  transform: translateX(0);
}

.switchOff {
  transform: translateX(4.4rem);
}
