.projectDetailContainer {
  margin-bottom: 8rem;
}

.projectDetailTitle {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 4rem 0;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.projectDetailTitle a {
  position: absolute;
  bottom: 2.2rem;
  right: 0;
}

.projectDetailWrap {
  display: flex;
  justify-content: space-between;
}

.projectDetailInfo,
.projectDetailDesc {
  width: 50%;
}

.projectDetailInfo {
  padding-right: 2.5rem;
}

.projectDetailKey {
  text-transform: uppercase;
}

.projectDetailDesc {
  padding-left: 2.5rem;
}

.projectDetailInfo td {
  vertical-align: top;
  padding: 0 2.5rem 2.5rem 0;
}

@media (max-width: 768px) {
  .projectDetailWrap {
    display: block;
  }

  .projectDetailInfo,
  .projectDetailDesc {
    width: 100%;
  }

  .projectDetailDesc {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .projectDetailTitle {
    display: block;
    padding-bottom: 2rem;
    margin: 2rem 0;
  }

  .projectDetailTitle h1 {
    font-size: 9vw;
    margin: 0 0 1.4rem 0;
  }

  .projectDetailTitle a {
    position: relative;
    bottom: revert;
    right: revert;
  }
}
