.works {
  width: 90rem;
  max-width: 90%;
  margin: 15rem auto 10rem;
}

.works .lowIntensityList,
.works .highIntensityList {
  margin-bottom: 5rem;
}

.works .lowIntensityList {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  grid-gap: 6rem;
  margin-bottom: 5rem;
}

.works .highIntensityList li {
  padding: 1.4rem;
  border-bottom: 2px solid black;
}

.works .highIntensityList li p {
  font-size: 3rem;
}

.works li {
  list-style-type: none;
}

.works img {
  border-radius: 1rem;
  filter: grayscale(100%) brightness(0.3);
  opacity: 0.8;
  transition: filter 0.2s ease-in, opacity 0.2s ease-in;
}

.works img:hover {
  filter: none;
  opacity: 1;
}

.disclaimer {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
}

@media (max-width: 768px) and (hover: none) {
  .works img:hover {
    opacity: 0.8;
    transition: filter 0.2s ease-in, opacity 0.2s ease-in;
  }
}

@media (max-width: 480px) {
  .works {
    margin: 10rem auto 8rem;
  }

  .works .lowIntensityList {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    grid-gap: 4rem;
  }

  .disclaimer {
    width: 90%;
    font-size: 1.4rem;
  }
}
