*,
html,
body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #2675bb;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p,
i,
a,
b {
  font-size: 1.8rem;
  line-height: 1.7;
}

i {
  font-style: italic;
}

span {
  font-size: inherit;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

li {
  color: black;
  font-size: 1.6rem;
}

strong {
  font-weight: 700;
}

button {
  padding: 1rem 2rem;
  border-radius: 2.2rem;
  background-color: #236299;
  color: #000;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.2s ease-in, opacity 0.2s ease-in;
  opacity: 0.6;
  cursor: pointer;
}

button:hover {
  background-color: #328ddd;
  opacity: 1;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}
