*,
html,
body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

html {
  background-color: #2675bb;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p,
i,
a,
b,
li {
  font-size: 2rem;
  line-height: 1.7;
}

i {
  font-style: italic;
}

span {
  font-size: inherit;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

strong {
  font-weight: 700;
}

button {
  padding: 1rem 2rem;
  border-radius: 2.2rem;
  background: rgba(35, 98, 153, 0.6);
  color: #000;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.2s ease-in, opacity 0.2s ease-in;
  cursor: pointer;
}

button:hover,
button.hover,
a.active button {
  background-color: #328ddd;
  opacity: 1;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.inner-wrap,
.inner-text-wrap,
.mockup-wrap {
  width: 90rem;
  max-width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
}

.inner-text-wrap,
.mockup-wrap {
  background-color: #276aa5;
  border-radius: 1rem;
  padding: 4rem;
}

.inner-text-wrap p {
  margin-bottom: 2rem;
}

.wide-img {
  border-radius: 1rem;
}

.mockup-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: -4rem;
}

.mockup-wrap img {
  width: 30%;
  border-radius: 1rem;
}

@media (max-width: 768px) and (hover: none) {
  button:hover {
    background: rgba(35, 98, 153, 0.6);
  }
}

@media (max-width: 768px) {
  button {
    padding: 1rem 1.6rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 480px) {
  h1 {
    max-width: none;
  }

  p {
    max-width: none;
  }
}

@media screen and (max-width: 480px) {
  .inner-text-wrap {
    margin-top: 10rem !important;
  }

  .inner-wrap {
    margin-top: 6rem !important;
  }
}

@media (max-width: 320px) {
  button {
    padding: 0.8rem 1.4rem;
    border-radius: 1.8rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}
